PROJECT_NAME="TIP"
API_V1_STR="/api/v1"

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_contraseña_local
POSTGRES_DB=tip

DATABASE_URL=postgresql://postgres:tu_contraseña_local@localhost:5432/tip
TELEGRAM_TOKEN=8884133963:AAGI1iXJ8OI9si-6NstlmkuF74YsPONRcGg

# API key de Google AI Studio para usar Gemini vía langchain-google-genai
GOOGLE_API_KEY=tu_api_key_de_google


# https://api.telegram.org/bot8884133963:AAGI1iXJ8OI9si-6NstlmkuF74YsPONRcGg/setWebhook?url=URL_NGROK/api/v1/telegram/webhook