PROJECT_NAME="TIP"
API_V1_STR="/api/v1"

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_contraseña_local
POSTGRES_DB=tip

DATABASE_URL=postgresql://postgres:tu_contraseña_local@localhost:5432/tip

# Token del bot de Telegram, obtenido de @BotFather
TELEGRAM_TOKEN=tu_token_de_telegram

# API key de Google AI Studio para usar Gemini vía langchain-google-genai
GOOGLE_API_KEY=tu_api_key_de_google


# https://api.telegram.org/botTELEGRAM_TOKEN/setWebhook?url=URL_NGROK/api/v1/telegram/webhook